footer{
    width: 100%;
    text-align: center;
    background: $color-dark;
    color: #fff;
    
    .logo{
        width: 350px;
        padding: 80px 0px 30px;
    }
    
    .menu{
        width: 100%;
        
        li{
            display: inline-table;
            margin: 0px 10px;
            a{
                color: #fff;
                
                &:hover{
                    color: #999;
                }
            }
            
            
            aco-login{
                cursor: pointer;
                
                &:hover{
                    color: #999;
                }
            }
            
        }
    }
    
    .copy{
        padding: 40px 20px;
        font-size: 0.8em;
        color: #888;
        letter-spacing: 2px;
    }
}