.gettingStarted{
    width: 80%;
    max-width: 800px;
    padding: 50px;
    background: #fff;
    margin: auto;
    text-align: left;
    
    xmp{
        padding: 0;
        margin: 0;
        background: $color-code;
    }
}