/**
* Global Variables
*/
aco-admin {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  z-index: 1000;
  background: url(src/black.png); }
  aco-admin #aco-admin-table {
    height: 50px;
    display: table;
    text-align: center; }
    aco-admin #aco-admin-table > div {
      display: table-cell;
      vertical-align: middle;
      font-size: 0.9em;
      line-height: 0px;
      padding: 2px 15px 0;
      text-transform: uppercase;
      font-family: Gotham;
      font-weight: 400;
      cursor: pointer;
      background: transparent;
      transition: background 0.4s; }
      aco-admin #aco-admin-table > div > #aco-admin-drag-img {
        height: 24px;
        width: 24px;
        padding: 0;
        margin: 0;
        border: 0; }
      aco-admin #aco-admin-table > div#aco-admin-drag {
        padding: inherit 0;
        width: 23px;
        cursor: move; }
      aco-admin #aco-admin-table > div#aco-admin-lan:hover {
        background: #36a6d6; }
      aco-admin #aco-admin-table > div#aco-admin-publish:hover {
        background: #36a6d6; }
      aco-admin #aco-admin-table > div.active {
        background: #36a6d6; }

aco-login-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(src/black.png);
  font-family: Gotham;
  display: none; }
  aco-login-box > #acoLoginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    background: #fff;
    width: 300px;
    height: 300px;
    padding: 50px; }
    aco-login-box > #acoLoginBox > h1 {
      font-size: 50px;
      font-weight: 600;
      line-height: 100%;
      margin: 0;
      padding: 0;
      color: #000;
      text-transform: uppercase; }
    aco-login-box > #acoLoginBox > h2 {
      font-size: 25px;
      font-weight: 200;
      line-height: 160%;
      margin: 0;
      padding: 0;
      color: #000;
      text-transform: inherit; }
    aco-login-box > #acoLoginBox > form {
      padding-top: 20px;
      text-align: center; }
    aco-login-box > #acoLoginBox > form > input {
      width: 266px;
      padding: 0px 15px;
      margin: 5px 0px;
      height: 50px;
      font-size: 18px; }
    aco-login-box > #acoLoginBox > form > #acoLoginBtn {
      width: 150px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-weight: 400;
      background: #36a6d6;
      color: #fff;
      font-size: 18px;
      border: 0;
      margin: 10px auto 0;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      cursor: pointer; }

#aco-img-upload-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(src/black.png);
  display: table;
  z-index: 1200;
  display: none; }
  #aco-img-upload-box #aco-img-upload-content {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-family: Gotham; }
    #aco-img-upload-box #aco-img-upload-content #aco-img-upload-header {
      font-size: 2em; }
    #aco-img-upload-box #aco-img-upload-content #aco-img-upload-bar {
      width: 100%;
      height: 2px;
      padding: 30px 0px 10px; }
      #aco-img-upload-box #aco-img-upload-content #aco-img-upload-bar #aco-img-upload-progress {
        width: 60%;
        height: 100%;
        background: #36a6d6; }
    #aco-img-upload-box #aco-img-upload-content #aco-img-upload-input {
      display: none; }

aco-background, .aco-background {
  position: relative; }

aco-background > aco-update-img-btn, .aco-background > aco-update-img-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px 8px 18px;
  background: #222;
  font-size: 14px;
  font-weight: 400;
  font-family: Gotham;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
  color: #FFF;
  cursor: pointer;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1000; }
  aco-background > aco-update-img-btn:hover, .aco-background > aco-update-img-btn:hover {
    background: #444; }

/*# sourceMappingURL=acolyte.css.map */
