<div id="aco-admin-panel" ng-controller="AcoLanguageController as acoLanCtrl">
    <div id="aco-admin-table" ng-show="acoAdminCtrl.showPanel">
        <div id="aco-admin-drag">
            <img id="aco-admin-drag-img" ng-src="{{acoAdminCtrl.dragImg}}" />
        </div>
        <div id="aco-admin-edit" ng-class="(acoAdminCtrl.edit) ? 'active' : ''" ng-click="acoAdminCtrl.setEditMode()">
            {{(acoAdminCtrl.edit) ? 'done' : 'edit'}}
        </div>
        <div id="aco-admin-lan" ng-click="acoAdminCtrl.selectLan()">
            {{acoLanCtrl.lan}}
        </div>
        <div id="aco-admin-publish" ng-click="acoAdminCtrl.publish()">
            publish
        </div>
    </div>
    <div id="aco-admin-lan-box" class="aco-lan-bottom">
        <ul id="aco-admin-lan-list">
            <li ng-repeat="lan in acoLanCtrl.languages" ng-show="acoLanCtrl.newLanKeyword == ''">
                <div class="aco-lan-container" ng-class="(lan.lan == acoLanCtrl.lan) ? 'active' : ''">
                    <div><div class="aco-lan-btn checkbox" ng-class="(lan.toggle == 1) ? 'active' : ''" ng-click="acoLanCtrl.setToggle(lan.lan)"></div></div>
                    <div class="aco-lan-text" ng-click="acoLanCtrl.setLan(lan.lan)">{{lan.lan}} - {{lan.language}}</div>
                    <div><div class="aco-lan-btn delete" ng-click="acoLanCtrl.deleteLanguage(lan)"></div></div>
                </div>
            </li>
            <li ng-repeat="lan in acoLanCtrl.searchResults" ng-show="acoLanCtrl.newLanKeyword != ''">
                <div class="aco-lan-result-container" ng-click="acoLanCtrl.addLanguage(lan)">
                    {{lan.lan}} - {{lan.language}}
                </div>
            </li>
            <li>
                <input type="text" placeholder="new language..." ng-model="acoLanCtrl.newLanKeyword" ng-keyup="acoLanCtrl.searchLan()" />
            </li>
        </ul>
    </div>
</div>