<!DOCTYPE html>
<html>
    <head>
        <title>BUCKET, life in a bottle</title>
        
        <link rel="stylesheet" href="http://www.bucketwines.com/testing/styles/emails.css" />
    </head>
    <body>
        
        <div class="marginField">
            <div class="emailField">

                <a href="http://www.bucketwines.com/">
                    <img src="http://www.bucketwines.com/testing/pics/bucket_logo.png" id="logo" />
                </a><br />

                <h1>Hello [firstname],</h1>
                looks like you forgot your password!<br /><br />

                Please click the link below and follow the instructions to set a new password.<br /><br />

                <a href="http://www.bucketwines.com/changepassword.php?key=[vkey]">http://www.bucketwines.com/changepassword.php?key=[vkey]</a><br /><br />

                Have a nice day!<br />
                Marco Tiggelman

            </div>
        </div>

    </body>
</html>