<!DOCTYPE html>
<html>
    <head>
        <title>BUCKET, life in a bottle</title>
        
        <link rel="stylesheet" href="http://www.bucketwines.com/testing/styles/emails.css" />
    </head>
    <body>
        
        <div class="marginField">
            <div class="emailField">

                <a href="http://www.bucketwines.com/">
                    <img src="http://www.bucketwines.com/testing/pics/bucket_logo.png" id="logo" />
                </a><br />

                <h1>Hello [firstname],</h1>
                your order from <a href="http://www.bucketwines.com">www.bucketwines.com</a> is now in progress.<br/><br />

                Here is what you have ordered:<br />
                <ul class="bucketList">
                    <!--
                    <li><div>3 x wachau-austria 2014 white blend</div><div>52.50</div></li>
                    <li><div>3 x wachau-austria 2014 white blend</div><div>52.50</div></li>
                    <li><div>3 x wachau-austria 2014 white blend</div><div>52.50</div></li>
                    -->
                    [shoppingcart]
                </ul>
                <h2>Total: [total]</h2><br />


                Thanks [firstname], and hope you are looking forward to this bucket - experience!<br />
                Marco Tiggelman

            </div>
        </div>

    </body>
</html>