<!DOCTYPE html>
<html>
    <head>
        <title>BUCKET, life in a bottle</title>
        
        <link rel="stylesheet" href="http://www.bucketwines.com/testing/styles/emails.css" />
    </head>
    <body>
        
        <div class="marginField">
            <div class="emailField">

                <a href="http://www.bucketwines.com/">
                    <img src="http://www.bucketwines.com/testing/pics/bucket_logo.png" id="logo" />
                </a><br />

                <span>New message sent form bucketwines:</span><br /><br />

                <h1>[name] ([email])</h1>
                [message]

            </div>
        </div>
        
    </body>
</html>