<!DOCTYPE html>
<html>
    <head>
        <title>BUCKET, life in a bottle</title>
        
        <link rel="stylesheet" href="http://www.bucketwines.com/testing/styles/emails.css" />
    </head>
    <body>
        
        <div class="marginField">
            <div class="emailField">

                <a href="http://www.bucketwines.com/">
                    <img src="http://www.bucketwines.com/testing/pics/bucket_logo.png" id="logo" />
                </a><br />

                <h1>Hello [firstname],</h1>
                and welcome to bucketwines!<br /><br />

                Please verify your email adress by clicking the link below and get access to all bucketwines features.<br /><br />

                <a href="http://www.bucketwines.com/verify.php?key=[vkey]">http://www.bucketwines.com/verify.php?key=[vkey]</a><br /><br />

                Thanks [firstname], and happy to have you on board!<br />
                Marco Tiggelman

            </div>
        </div>

    </body>
</html>