@font-face {
  font-family: 'Gotham2';
  src: url('fonts/Gotham/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham/Gotham-Medium.svg#bdc473fae2f64b1c45b8886bcff81bae') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Gotham2';
  src: url('fonts/Gotham/GothaProLig.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham/GothaProLig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham/GothaProLig.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham/GothaProLig.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham/GothaProLig.svg#8c8858fe2c9577a4d92302d55fb1e2af') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: 'Gotham2';
  src: url('fonts/Gotham/Gotham-Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham/Gotham-Thin.svg#2612f69d108fca39cb109c03ae310193') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  100;
}