
// Fonts
$font-acolyte: Open Sans;

$aco-font-size: 16px;


// Colors

$color-blue-light: #23A3F3;
$color-blue: #219ae6;
$color-blue-dark: #1D89CC;

$color-red: #f92c53;

$color-grey-bright: #ededed;
$color-grey-light: #ddd;
$color-grey: #666;

$color-dark: #111;

// Other

$color-admin-bg: url(src/black.png);