/**
* Global Variables
*/

$main-font-family: Open Sans;
$second-font-family: Lato;

$main-font-weight: 300;
$main-line-height: 200%;
$main-font-size: 1.1em;

//$color-blue: #36a6d6;
$color-blue: #219ae6;
$color-blue-light: #54b4f2;
$color-blue-dark: #0b82cd; //#178ac6;

$color-body: #ededed;
$color-code: #ccc;