/**

	5-designs - company
	Acolyte
	created with love in Austria

    Website: http://www.acolyte.5-designs.com
	Github: https://github.com/5-designs/acolyte
*/

@import 'aco-fonts';
@import 'aco-variables';

@import 'templates/admin-panel';
@import 'templates/login-panel';
@import 'templates/notification-panel';
@import 'templates/message-box';
@import 'templates/image-upload-panel';


aco-background, .aco-background{
    position: relative;
}
aco-background > aco-update-img-btn, .aco-background > aco-update-img-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px 8px 18px;
    background: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: $font-acolyte;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
    color: #FFF;
    cursor: pointer;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1000;

    &:hover{
        background: #444;
    }
}
