#acoMessageBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(src/black.png);
    font-family: $font-acolyte;
    z-index: 1500;
    display: none;

    #aco-message-container{
        width: 100%;
        height: 100%;
        display: table;

        #aco-message-cell{
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }

    #aco-message-content{
        max-width: 450px;
        border-bottom: 2px solid #999;
        background: #fff;
        color: $color-grey;
        margin: auto;
        text-align: left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-family: $font-acolyte;
        font-size: $aco-font-size;
        line-height: 160%;

        .acoMessageBoxHeader{
            font-size: 1.8em;
            font-weight: 600;
            line-height: 130%;
            margin: 0;
            padding: 15px 30px;
            color: #fff;
            background: url(src/banner_bg.jpg);
            background-size: cover;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
            text-shadow: 1px 1px #666;
        }
        .acoMessageBoxContent{
            padding: 20px 30px;
        }

        #aco-message-buttons{
            padding-top: 18px;
        }
        .aco-message-btn{
            display: inline-table;
            background: $color-blue;
            color: #fff;
            font-weight: 600;
            font-size: $aco-font-size;
            line-height: 2.2em;
            padding: 0px 15px 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-right: 10px;
            cursor: pointer;

            &:hover{
                color: #dfdfdf;
            }

            &.cancel{
                background: #333;
            }
        }
    }
}
